.dropdown {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin-left: 42%;
    margin-top: 20%;
  }
.dropdown-content{
    
    margin-left: 40%;
    display: none;
    position: absolute;
    min-width: 30%;
    z-index: 1;
    background-color: antiquewhite;
    width: 100%;

}
#link{
    color: black;
    text-decoration: none;
    padding: 8% 5%;
    display: block;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 88%;
}
#dp{
    background-color: aqua;
    margin-left: 40%;
    margin-top: 20%;
    font-size: 2vw;
    width: 30%;
}
#dp:hover{
    opacity: 0.5;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  }
