
.container{
    width: 100%;
    margin-top: 10px;
    height: 30px;
}
.navlist{
    border-style: solid;
    width: 99.5%;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(21, 21, 17);
    border-radius: 0.5rem;
    opacity: 0.8;
    z-index: -1;

}

#a, #b{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    float: left;
    
}
#c, #d, #e{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}
li a:hover {
    opacity: 0.3;
  }
#search{
    
    margin-left: 5px;
    margin-right: 5px;
    
    border-width: medium;
    border-style: solid;
    
    opacity: 0.8;
    background-image: linear-gradient(to bottom right,rgb(48, 76, 218),rgb(25, 168, 178));
    
    height: 300px;
    border-radius: 0.5rem;
  
}
#logo{
    width: 14%;
    height: 85%;
    margin-top: -40px;
    margin-left: 43%;
    
}
#name{
    margin-top: -50px;
    width: 30%;
    height: 30px;
    margin-left:30%;
    border-width: 3px;
    border-style: solid;
    
}
#btn{
    height: 35px;
    width: 100px;
    text-align: center;
    background-color: rgb(72, 69, 228);
    cursor: pointer;
    
}
#btn:hover{
    opacity: 0.8;
    
}
#studies,#novels{
    text-align: center;
    margin-top: 1%;
    font-size: x-large;
}
#blocks1,#blocks2{
    display: inline;
    list-style-type: none;
    float: left;
    overflow: hidden;
}
#f{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:left;
    border-width: 3px;
    border-style: solid;
    width: 20%;
    margin-left: -1%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#g{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:left;
    border-width: 3px;
    border-style: solid;
    width: 20%;
    margin-left: 2.1%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#h{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:right;
    border-width: 3px;
    border-style: solid;
    width: 20%;
    margin-right: 3.7%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#i{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:right;
    border-width: 3px;
    border-style: solid;
    width: 20%;
    margin-right: 2.8%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#f:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#g:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#h:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#i:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#j{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:left;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    margin-left: -1%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#k{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:left;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    margin-left: 2.5%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#l{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:left;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    margin-left: 2.5%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#lib{
    font-size: xx-large;
}
#m{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:right;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    margin-right: 5.7%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#n{
    display: block;
    color: black;
    text-align: center;
    padding: 0.8% 0.8%;
    text-decoration: none;
    cursor: pointer;
    float:right;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    margin-right: 2.5%;
    border-radius: 1rem;
    background-color: rgb(69, 178, 221);
}
#blocks3{
    border-style: solid;
    width: 99.5%;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(252, 248, 248, 0.63);
    border-radius: 0.5rem;
    z-index: -1;
}
#j:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#k:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#l:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#m:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#n:hover{
    transition: 1s;
    background-color: antiquewhite;
}
#o,#p,#q{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-left: 5%;
}
#o:hover{
    opacity: 0.6;
}
#p:hover{
    opacity: 0.6;
}
#q:hover{
    opacity: 0.6;
}
#r{
    display: block;
    
    text-decoration: none;
    cursor: pointer;
    
    margin-top: 0%;
    margin-left: 80%;
}
#imgs{
    background-image: linear-gradient(to bottom right,rgb(139, 48, 218),rgb(25, 168, 178));
    width: 95vw;margin-right:8vw;margin-left:1%;margin-top: 2vh;border-style:solid;border-width:3px;border-color:black; height:37.5vh;border-radius: 0.5rem; background-color: white;opacity: 0.8;
}

#if{
    width: 30vw;height: 37.5vh; border-top-right-radius: 8rem;border-bottom-right-radius: 8rem;
}
#z{
    margin-top: -35vh; margin-left:50%; font-size: 1.5vw;
}
#y{
    margin-left: 35vw;font-size: 1.3vw;margin-top: 2vh;font-family: cursive;
}
@media screen and (max-width: 800px) {
    
    .container{
        width: 100%;
        margin-top: 10px;
        height: 30px;
    }
    .navlist{
        border-style: solid;
        width: 99.5%;
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(21, 21, 17);
        opacity: 0.8;
        border-radius: 0.5rem;
        z-index: -1;

    }

    #a, #b{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        float: left;
        font-size: 3vw;
        
    }
    #c, #d, #e{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        float: right;
        font-size: 3vw;
    }
    li a:hover {
        opacity: 0.3;
    }
    #search{
        
        margin-left: 5px;
        margin-right: 5px;
        
        border-width: medium;
        border-style: solid;
        opacity: 0.8;
        background-image: linear-gradient(to bottom right,rgb(48, 76, 218),rgb(25, 168, 178));
        
        height: 400px;
        border-radius: 0.5rem;
    }
    #logo{
        width: 50%;
        height: 85%;
        margin-top: -40px;
        margin-left: 25%;
        
    }
    #name{
        margin-top: -65px;
        width: 40%;
        height: 30px;
        margin-left:20%;
        border-width: 3px;
        border-style: solid;
        
    }
    #btn{
        height: 35px;
        width: 10%;
        text-align: center;
        background-color: rgb(72, 69, 228);
        cursor: pointer;
        font-size: 2vw;
        
    }
    #btn:hover{
        opacity: 0.8;
        
    }
    #studies,#novels{
        text-align: center;
        margin-top: 1%;
        font-size: x-large;
    }
    #blocks1,#blocks2{
        display: inline;
        list-style-type: none;
        float: left;
        overflow: hidden;
    }
    #f{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:left;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-left: -1%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
    }
    #g{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:right;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-left: 2.1%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        margin-top: 0%;
        margin-right: 20%;
        font-size: 4.5vw;
    }
    #h{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:right;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-left: 45%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        margin-top: -8%;
        margin-bottom: 0%;
        margin-right: 20%;
        font-size: 4.5vw;
    }
    #lib{
        font-size: x-large;
    }
    #i{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:left;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-right: 2.8%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        margin-top: 10%;
        margin-right:20%;
        font-size: 4.5vw;
    }
    #f:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #g:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #h:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #i:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #j{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:left;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-left: -1%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
    }
    #k{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:right;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-right: 20%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
    }
    #l{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:left;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-left: 0%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
        margin-top: 10%;
    }
    #m{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        float:right;
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-right: 20%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
        margin-top: 10%;
    }
    #n{
        display: block;
        color: black;
        text-align: center;
        padding: 0.8% 0.8%;
        text-decoration: none;
        cursor: pointer;
        
        border-width: 3px;
        border-style: solid;
        width: 30%;
        margin-right: 2.5%;
        border-radius: 1rem;
        background-color: rgb(69, 178, 221);
        font-size: 4.5vw;
        margin-top: 10%;
        margin-right: 44%;
    }
    #blocks3{
        border-style: solid;
        width: 99.5%;
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(252, 248, 248, 0.63);
        border-radius: 0.5rem;
        z-index: -1;
    }
    #j:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #k:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #l:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #m:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #n:hover{
        transition: 1s;
        background-color: antiquewhite;
    }
    #o,#p,#q{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        float: left;
        margin-left: 5%;
        font-size: 2vw;
    }
    #o:hover{
        opacity: 0.6;
    }
    #p:hover{
        opacity: 0.6;
    }
    #q:hover{
        opacity: 0.6;
    }
    #r{
        display: block;
        
        text-decoration: none;
        cursor: pointer;
        
        margin-top: 2%;
        margin-left: 80%;
        width: 30%;
    }
    #lib{
        font-size: 2vw;
    }
    #imgs{
        background-image: linear-gradient(to bottom right,rgb(139, 48, 218),rgb(25, 168, 178));
        width: 90vw;margin-right:8vw;margin-left:1%;margin-top: 2vh;border-style:solid;border-width:3px;border-color:black; height:67.5vh;border-radius: 0.5rem; background-color: white;opacity: 0.8;
    }
    
    #if{
        width: 50vw;height: 37.5vh; border-radius: 0.5rem; margin-top: 25vh; margin-left: 25%;
    }
    #z{
        margin-top: -58vh; margin-left:35%; font-size: 2vw;
    }
    #y{
        margin-left: 10vw;font-size: 2vw;margin-top: 2vh;font-family: cursive;
    }
  }

  @media screen and (max-width: 500px) {
    #name{
        
        width: 35%;
        height: 30px;
        margin-left:15%;
        border-width: 3px;
        border-style: solid;
        margin-bottom: 2%;
        
    }
    #btn{
        height: 36px;
        width: 30%;
        text-align: center;
        background-color: rgb(72, 69, 228);
        cursor: pointer;
        
    }
    #lib{
        font-size: large;
    }
    #search{
        margin-top: 10%;
    }
    
    #finalblock{
        margin-left: -2%;
    }
  }
