#box{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -2%;
    margin-bottom: 2%;
    height: 95vh;
    background-color: burlywood;
    border-radius: 1rem;
    padding-top: 4%;
}
#box2{
    
    
    width: 90%;
    margin-left: 5%;
    
    height: 60vh;
    background-color: beige;
    border-radius: 2rem;
    align-self: center;
    
}
#box3{
    
    
  width: 90%;
  margin-left: 5%;
  
  height: 45vh;
  background-color: beige;
  border-radius: 2rem;
  align-self: center;
  
  
}
#bar{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 6vh;
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    align-self: center;
    
    
    
}
#boo{
    font-size: 3.5vw;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#radio1,#radio2{
  display: none;
  cursor: pointer;
}

#radio1:checked~#o{
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: rgb(223, 132, 20);
  padding: 2.5% 3%;
  transition: 0.3s;
  

}

#radio2:checked~#p{
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: rgb(223, 132, 20);
  padding: 2.5% 3%;
  transition: 0.3s;
  
}
#zs a:hover{
  opacity: 0.8;
  
}
#zs{
  margin-top:-37vh;
}
#ms{
  height: 16vw;
}
#ms2{
  height: 24vw;
}

 
  
@media  screen and (max-width: 800px) {
  .lkj{
    margin-top: 10vh;
  }
  #zs{
    margin-top: -19vh;
  }

}
@media  screen and (max-width: 1300px) {
  .lkj{
    margin-top: 10vh;
  }
  #zs{
    margin-top: -28vh;
  }

}
